.page {
  margin: 0;
  padding: 20px;

  font-family: "Arial", sans-serif;
}

.image {
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.button {
  padding: 10px 16px;

  font-size: 16px;

  cursor: pointer;
}
