.page {
  margin: 0;
  padding: 20px;

  font-family: "Arial", sans-serif;
}

.list {
  margin-bottom: 15px;
  padding-left: 20px;
}

.button {
  padding: 10px 16px;

  font-size: 16px;

  cursor: pointer;
}
