.page {
  margin: 0;
  padding: 20px;

  font-family: "Arial", sans-serif;
}

.box {
  width: max-content;
  margin-bottom: 20px;
  padding: 16px;

  border: 1px solid #000000;
}

.highlight {
  color: black;

  background-color: yellow;
}

.toggle-btn {
  padding: 10px 16px;

  font-size: 16px;

  cursor: pointer;
}
